In [1]:
import pandas as pd
import requests

In [2]:
import credentials as cred
key = cred.mapquest_api_key

In [3]:
# import pandas as pd

# url = "https://public.opendatasoft.com/explore/dataset/us-county-boundaries/download/?format=csv&refine.statefp=06&location=2,40.61349,40.02538&timezone=America/Los_Angeles&lang=en&use_labels_for_header=true&csv_separator=%3B"

# df = pd.read_csv(url, sep=";")
# new_df = df[["NAME", "Geo Shape"]].copy()

# new_df.head()

In [4]:
# len(new_df)

In [5]:
# state_bounds = pd.read_csv("https://gist.githubusercontent.com/a8dx/2340f9527af64f8ef8439366de981168/raw/81d876daea10eab5c2675811c39bcd18a79a9212/US_State_Bounding_Boxes.csv")
# state_bounds = state_bounds[['NAME', 'STUSPS', 'xmin', 'ymin', 'xmax', 'ymax']]
# state_bounds = state_bounds.rename(columns={"xmin": "min_lng", "xmax": "max_lng", "ymin": "min_lat", "ymax": "max_lat"})

In [6]:
# import ast
# import pandas as pd

# # Function to extract latitude and longitude from coordinates
# def extract_coordinates(geo_shape):
#     geo_dict = ast.literal_eval(geo_shape)
#     coordinates = []

#     if geo_dict['type'] == 'Polygon':
#         coordinates = geo_dict['coordinates'][0]
#     elif geo_dict['type'] == 'MultiPolygon':
#         for polygon in geo_dict['coordinates']:
#             coordinates.extend(polygon[0])
#     elif geo_dict['type'] == 'Point':
#         coordinates = [geo_dict['coordinates']]

#     latitudes = [coord[1] for coord in coordinates]
#     longitudes = [coord[0] for coord in coordinates]
#     return latitudes, longitudes

# # Create a list to store county bounds dataframes
# county_bounds_list = []

# # Iterate over each county
# for _, row in new_df.iterrows():
#     county_name = row['NAME']
#     latitudes, longitudes = extract_coordinates(row['Geo Shape'])

#     # Calculate the minimum and maximum latitude and longitude for the county
#     min_latitude = min(latitudes)
#     max_latitude = max(latitudes)
#     min_longitude = min(longitudes)
#     max_longitude = max(longitudes)

#     # Create a dataframe for the county bounds
#     county_bounds_df = pd.DataFrame({'County': county_name,
#                                      'Min_Latitude': min_latitude,
#                                      'Max_Latitude': max_latitude,
#                                      'Min_Longitude': min_longitude,
#                                      'Max_Longitude': max_longitude}, index=[0])

#     # Append the county bounds dataframe to the list
#     county_bounds_list.append(county_bounds_df)

# # Concatenate all county bounds dataframes into a single dataframe
# county_bounds = pd.concat(county_bounds_list, ignore_index=True)

# # Sort the DataFrame by county name
# county_bounds = county_bounds.sort_values('County')

# # Format the DataFrame for better display
# county_bounds_styled = county_bounds.style.hide_index().set_caption('County Bounds').format({
#     'Min Latitude': '{:.6f}',
#     'Max Latitude': '{:.6f}',
#     'Min Longitude': '{:.6f}',
#     'Max Longitude': '{:.6f}'
# })

# # Display the formatted DataFrame
# # display(county_bounds_styled)

In [7]:
# county_bounds.head(5)

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('test.db')

In [10]:
# county_bounds.to_sql("counties", conn, if_exists="replace", index=False)

In [11]:
# county_bounds[county_bounds['County'] == 'Los Angeles']['Min_Latitude']

In [12]:
import traffic_data as td

# def get_county_incidents(conn, county):
#     cmd =\
#     f"""
#     SELECT Min_Latitude, Max_Latitude, Min_Longitude, Max_Longitude FROM counties
#     WHERE County LIKE '{county.upper()}'
#     """
#     # print(cmd)
#     cursor = conn.cursor()
#     cursor.execute(cmd)
#     # min_lat, max_lat, min_lng, max_lng = cursor.fetchone()
#     bbox = cursor.fetchone()

#     return td.get_incidents_in_area(conn, bbox)

# def update_county_incidents(conn, key, county):
#     cmd =\
#     f"""
#     SELECT Min_Latitude, Max_Latitude, Min_Longitude, Max_Longitude FROM counties
#     WHERE County LIKE '{county.upper()}'
#     """
#     # print(cmd)
#     cursor = conn.cursor()
#     cursor.execute(cmd)
#     # min_lat, max_lat, min_lng, max_lng = cursor.fetchone()
#     bbox = cursor.fetchone()
#     td.store_traffic_data(conn, key, bbox)

# def get_counties(conn):
#     cmd =\
#     """
#     SELECT county FROM counties
#     """
#     cursor = conn.cursor()
#     cursor.execute(cmd)
#     return [i[0] for i in cursor.fetchall()]

In [13]:
td.get_counties(conn)

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [14]:
# update_county_incidents(conn, key, "Los Angeles")

In [15]:
import credentials as cred
google_key = cred.google_api_key

In [16]:
data = td.get_county_incidents(conn, "los angeles")
slice = data[:5]

            SELECT * FROM incidents
            WHERE lat BETWEEN 32.75004 AND 34.823302
            AND lng BETWEEN -118.951721 AND -117.646374

In [17]:
slice

,id,type,severity,shortDesc,lat,lng,startTime,endTime,endDatetime
0,1055125127505329319,1,1,Construction work,33.70901,-117.95451,2023-04-07T15:23:57,2023-07-27T09:00:00,2023-07-27 09:00:00
1,2719372949518547554,4,3,Closed,33.75132,-118.25052,2023-06-02T04:28:56,2023-06-03T04:28:56,2023-06-03 04:28:56
2,194792865527244746,4,3,Closed,33.74987,-118.25204,2023-06-02T04:28:56,2023-06-03T04:28:56,2023-06-03 04:28:56
3,2297914434273938396,4,3,Closed,33.71606,-117.96449,2023-05-11T16:11:20,2023-06-03T04:11:20,2023-06-03 04:11:20
4,227353499698559744,1,1,Construction work,33.74446,-118.00351,2023-04-07T15:23:57,2023-08-31T09:00:00,2023-08-31 09:00:00

In [22]:
response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?latlng=33.70901,-117.95451&key={google_key}")

In [38]:
response.json()['results'][0]['formatted_address']

'17475 Brookhurst St, Fountain Valley, CA 92708, USA'

In [59]:
addys = []
for index, row in slice.iterrows():
    coord = str(row['lat']) +","+ str(row['lng'])
    response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?latlng={coord}&key={google_key}")
    addy = response.json()['results'][0]['formatted_address']
    print(addy)
    addys.append(addy)

17475 Brookhurst St, Fountain Valley, CA 92708, USA
411 Navy Way, San Pedro, CA 90731, USA
107 Terminal Way, San Pedro, CA 90731, USA
41 Emery Ct, Fountain Valley, CA 92708, USA
14971 Chestnut St # H, Westminster, CA 92683, USA

In [61]:
slice['address'] = addys

C:\Users\gansi\AppData\Local\Temp\ipykernel_20732\112323216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice['address'] = addys

In [62]:
slice

,id,type,severity,shortDesc,lat,lng,startTime,endTime,endDatetime,address
0,1055125127505329319,1,1,Construction work,33.70901,-117.95451,2023-04-07T15:23:57,2023-07-27T09:00:00,2023-07-27 09:00:00,"17475 Brookhurst St, Fountain Valley, CA 92708..."
1,2719372949518547554,4,3,Closed,33.75132,-118.25052,2023-06-02T04:28:56,2023-06-03T04:28:56,2023-06-03 04:28:56,"411 Navy Way, San Pedro, CA 90731, USA"
2,194792865527244746,4,3,Closed,33.74987,-118.25204,2023-06-02T04:28:56,2023-06-03T04:28:56,2023-06-03 04:28:56,"107 Terminal Way, San Pedro, CA 90731, USA"
3,2297914434273938396,4,3,Closed,33.71606,-117.96449,2023-05-11T16:11:20,2023-06-03T04:11:20,2023-06-03 04:11:20,"41 Emery Ct, Fountain Valley, CA 92708, USA"
4,227353499698559744,1,1,Construction work,33.74446,-118.00351,2023-04-07T15:23:57,2023-08-31T09:00:00,2023-08-31 09:00:00,"14971 Chestnut St # H, Westminster, CA 92683, USA"

In [66]:
try:
    response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?latlng=33.74446,-118.00351&key={google_key}")
    thing = response.json()['results'][0]['formatted_address']
except:
    thing = "failed"

thing

'14971 Chestnut St # H, Westminster, CA 92683, USA'